body {
    background-color: #1b0029;
    color: #ffffff;
    text-align: center;
}

.cartao {
    background-color: #171717;
    color: #d0b2f7e2;
    max-width: 550px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #7c3aed;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(124, 58, 237, 0.45);
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
}

ul {
    list-style: none;
    font-size: 15px;
    line-height: 1.5;
}

h1 {
    color: #b47cff;
    font-size: 36px;
}

a {
    color: #b47cff;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 8px;
    transition: 0.3s;
    border: 1px solid transparent;
}

a:hover {
    color:#7c3aed;
    background-color: rgba(124, 58, 237, 0.232);
    border: 1px solid #7c3aed;
    box-shadow: 0 0 8px rgb(124, 58, 237, 0.50);
}

li i {
    color:#7c3aed;
    margin-right: 8px;
}

li {
    margin-bottom: 8px;
}